In [3]:
import numpy as np
import pandas as pd
from numpy.testing import assert_array_equal, assert_array_almost_equal, assert_equal, assert_almost_equal
from pandas.testing import assert_frame_equal
data = pd.read_csv('data/titanic_train.csv', index_col='PassengerId')

# SLIDE (1) Ближайший элемент

Реализуйте функцию, принимающую на вход непустой тензор (может быть многомерным) $X$ и некоторое число $a$ и возвращающую ближайший к числу элемент тензора. Если ближайших несколько - выведите минимальный из ближайших. (Вернуть нужно само число, а не индекс числа!)

### Sample
#### Input:
```python
X = np.array([[ 1,  2, 13],
              [15,  6,  8],
              [ 7, 18,  9]])
a = 7.2
```
#### Output:
```python
7
```

# TASK

In [9]:
import numpy as np

def nearest_value(X: np.ndarray, a: float) -> np.float:
    ### ╰( ͡° ͜ʖ ͡° )つ──☆*:・ﾟ
    pass

In [ ]:
######################################################
assert_equal(
    nearest_value(np.array([ 1,  2, 13]), 10),
    13)
######################################################
assert_equal(
    nearest_value(np.array([ -1,  0]), -0.5),
    -1)
######################################################
assert_equal(
    nearest_value(np.array([[[ 1], [2],[3]],[[4],[5],[6]]]), 4.5),
    4)
######################################################
assert_equal(
    nearest_value(np.array([[ 1,  2, 13],
                            [15,  6,  8],
                            [ 7, 18,  9]]), 7.2),
    7)
######################################################
assert_equal(
    nearest_value(np.array([[ -1,  -2],
                            [-15,  -6]]), -100),
    -15)
######################################################
assert_equal(
    nearest_value(np.array([[ 2,  2],
                            [12,  12]]), 7),
    2)
######################################################
assert_equal(
    nearest_value(np.array([[ -2,  -2],
                            [-12,  -12]]), -7),
    -12)
######################################################
assert_equal(
    nearest_value(np.array(
      [[18, 26, 21,  1, 14, 13,  6],
       [ 2, 19,  3,  4, 20, 15, 14],
       [25, 25,  6,  4, 14, 12, 16],
       [23, 13,  1,  4, 12,  7,  9],
       [15, 25, 26,  4, 18, 14,  4],
       [11, 10,  7,  2, 12, 12, 15],
       [17, 21, 25, 15, 22, 10, 13]]), 25.1),
    25
)
######################################################
assert_equal(
    nearest_value(np.array(
      [[18, 26, 21,  1, 14, 13,  6],
       [ 2, 19,  3,  4, 20, 15, 14],
       [25, 25,  6,  4, 14, 12, 16],
       [23, 13,  1,  4, 12,  7,  9],
       [15, 25, 26,  4, 18, 14,  4],
       [11, 10,  7,  2, 12, 12, 15],
       [17, 21, 25, 15, 22, 10, 13]]), 25.6),
    26
)
######################################################

# SLIDE (1) Сортировка чисел

Дан одномерный массив целых чисел. Необходимо отсортировать в нем только числа, которые делятся на $2$. При этом начальный массив изменять нельзя.

### Sample
#### Input:
```python
A = np.array([43, 66, 34, 55, 78, 105, 2])
```
#### Output:
```python
array([ 43,   2,  34,  55,  66, 105,  78])
```

# TASK

In [16]:
import numpy as np

def sort_evens(A: np.ndarray) -> np.ndarray:
    ### ╰( ͡° ͜ʖ ͡° )つ──☆*:・ﾟ
    pass

In [14]:
######################################################
assert_array_equal(sort_evens(np.array([])), np.array([]))
######################################################
A1 = np.array([2, 0])
A2 = np.array([2, 0])
Ans = np.array([0, 2])
assert_array_equal(sort_evens(A1), Ans)
assert_array_equal(A1, A2)
######################################################
assert_array_equal(sort_evens(np.array([2, 0])), np.array([0, 2]))
######################################################
assert_array_equal(sort_evens(np.array([9, 3, 1, 5, 7])), np.array([9, 3, 1, 5, 7]))
######################################################
assert_array_equal(sort_evens(np.array([8, 12, 4, 10, 6, 2])), np.array([2, 4, 6, 8, 10, 12]))
######################################################
assert_array_equal(sort_evens(np.array([8, 5, -4, -1, -10, 9])), np.array([-10, 5, -4, -1, 8, 9]))
######################################################
assert_array_equal(sort_evens(np.array([43, 66, 34, 55, 78, 105, 2])), np.array([43, 2, 34, 55, 66, 105, 78]))
######################################################
assert_array_equal(sort_evens(
    np.array([20, 38, 39, 21, 42, 33, 27, 28, 34,  0, 42, 19, 23, 13, 12, 34, 17, 33, 10,  0, 20, 37, 19, 16,  2, 15, 19, 25,  8, 31])),
    np.array([ 0,  0, 39, 21,  2, 33, 27,  8, 10, 12, 16, 19, 23, 13, 20, 20, 17, 33, 28, 34, 34, 37, 19, 38, 42, 15, 19, 25, 42, 31])
)
######################################################
assert_array_equal(sort_evens(
    np.array([ 52,  63,  86,  72,  91, -50, -48,  56, -18,  65, -61,  61, -35, 38,  19,  88, -43,  74, -31, -49,  34, -62, -30,  26,  79, -66, -6, -18, -73, -52])),
    np.array([-66,  63, -62, -52,  91, -50, -48, -30, -18,  65, -61,  61, -35, -18,  19,  -6, -43,  26, -31, -49,  34,  38,  52,  56,  79,  72, 74,  86, -73,  88])
)

# SLIDE (1) Страшные маски

Даны трехмерный тензор размерности $X(n, k, k)$, состоящий из $0$ или $1$, или $n$ картинок $k \times k$. Нужно применить к нему указанную маску размерности $(k, k)$: В случае, если биты в маске и картинке совпадают, то результирующий бит должен быть равен $0$, иначе $1$.

### Sample
#### Input:
```python
X = np.array([
              [[ 1, 0, 1],
               [ 1, 1, 1],
               [ 0, 0, 1]],
             
              [[ 1, 1, 1],
               [ 1, 1, 1],
               [ 1, 1, 1]]
            ])
mask = np.array([[1, 1, 0],
                 [1, 1, 0],
                 [1, 1, 0]])
```
#### Output:
```python
array([[[0, 1, 1],
        [0, 0, 1],
        [1, 1, 1]],

       [[0, 0, 1],
        [0, 0, 1],
        [0, 0, 1]]])
```

# TASK

In [13]:
import numpy as np

def tensor_mask(X: np.ndarray, mask: np.ndarray) -> np.ndarray:
    ### ╰( ͡° ͜ʖ ͡° )つ──☆*:・ﾟ
    pass

In [15]:
######################################################
X = np.zeros(9, dtype=int).reshape((1,3,3))
mask = np.zeros(9, dtype=int).reshape((3,3))
assert_array_equal(tensor_mask(X, mask), np.zeros(9, dtype=int).reshape((1,3,3)))
######################################################
X = np.ones(9, dtype=int).reshape((1,3,3))
mask = np.ones(9, dtype=int).reshape((3,3))
assert_array_equal(tensor_mask(X, mask), np.zeros(9, dtype=int).reshape((1,3,3)))
######################################################
X = np.ones(9, dtype=int).reshape((1,3,3))
mask = np.zeros(9, dtype=int).reshape((3,3))
assert_array_equal(tensor_mask(X, mask), np.ones(9, dtype=int).reshape((1,3,3)))
######################################################
X = np.zeros(9, dtype=int).reshape((1,3,3))
mask = np.ones(9, dtype=int).reshape((3,3))
assert_array_equal(tensor_mask(X, mask), np.ones(9, dtype=int).reshape((1,3,3)))
######################################################
X = np.zeros(9*3, dtype=int).reshape((3,3,3))
mask = np.zeros(9, dtype=int).reshape((3,3))
assert_array_equal(tensor_mask(X, mask), np.zeros(9*3, dtype=int).reshape((3,3,3)))
######################################################
X = np.ones(9*3, dtype=int).reshape((3,3,3))
mask = np.ones(9, dtype=int).reshape((3,3))
assert_array_equal(tensor_mask(X, mask), np.zeros(9*3, dtype=int).reshape((3,3,3)))
######################################################
X = np.ones(9*3, dtype=int).reshape((3,3,3))
mask = np.zeros(9, dtype=int).reshape((3,3))
assert_array_equal(tensor_mask(X, mask), np.ones(9*3, dtype=int).reshape((3,3,3)))
######################################################
X = np.zeros(9*3, dtype=int).reshape((3,3,3))
mask = np.ones(9, dtype=int).reshape((3,3))
assert_array_equal(tensor_mask(X, mask), np.ones(9*3, dtype=int).reshape((3,3,3)))
######################################################
X = np.array([[[ 1, 0, 1],
               [ 1, 1, 1],
               [ 0, 0, 1]]])
mask = np.array([[1, 1, 0],
                 [1, 1, 0],
                 [1, 1, 0]])
assert_array_equal(tensor_mask(X, mask), 
                   np.array([[[0, 1, 1],
                             [0, 0, 1],
                             [1, 1, 1]]]))
######################################################
X = np.array([[[ 1, 0, 1],
               [ 1, 1, 1],
               [ 0, 0, 1]],
             
              [[ 1, 1, 1],
               [ 1, 1, 1],
               [ 1, 1, 1]]])
mask = np.array([[1, 1, 0],
                 [1, 1, 0],
                 [1, 1, 0]])
assert_array_equal(tensor_mask(X, mask), 
                   np.array([[[0, 1, 1],
                             [0, 0, 1],
                             [1, 1, 1]],

                            [[0, 0, 1],
                             [0, 0, 1],
                             [0, 0, 1]]]))
######################################################

# SLIDE (1) Сумма цифр в массиве

На вход подается `np.ndarray` c натуральными числами. Надо получить массив сумм цифр в этих числах.

### Sample
#### Input:
```python
a = np.array([1241, 354, 121])
```
#### Output:
```python
array([ 8, 12, 4])
```

# TASK

In [19]:
import numpy as np

def num_sum(a: np.ndarray) -> np.ndarray:
    ### ╰( ͡° ͜ʖ ͡° )つ──☆*:・ﾟ
    pass

In [21]:
######################################################
assert_array_equal(num_sum(np.array([82])), np.array([10]))
######################################################
assert_array_equal(num_sum(np.array([1241, 354, 121])), np.array([ 8, 12, 4]))
######################################################
assert_array_equal(num_sum(np.array([1, 22, 333, 4444, 55555])), np.array([1, 4, 9, 16, 25]))
######################################################
assert_array_equal(num_sum(
    np.array([245426358, 143808796, 289578807, 789087410, 601951365, 962558714,
           911004108, 644139207, 407024443, 761496004])),
    np.array([39, 46, 54, 44, 36, 47, 24, 36, 28, 37]))
######################################################
assert_array_equal(num_sum(
    np.array([33585595, 28479537, 20427259, 81313931, 68755834, 26766828,
           68734519,  1504004, 38005013, 35185968,  4050946, 86871441,
           79264655, 54782423, 56298584, 22310519, 33213717, 25186256,
           54937995, 73840702, 82641303, 69814693, 27369173, 55446500,
           17515253, 44009538,  7230929, 20105931, 40229158, 84368588])),
    np.array([43, 45, 31, 29, 46, 45, 43, 14, 20, 45, 28, 39, 44, 35, 47, 23, 27,
           35, 51, 31, 27, 46, 38, 29, 29, 33, 32, 21, 31, 50]))

# SLIDE (1) Чистка NaN-ов

Одна из важных проблем данных - пустые значения. В *numpy* и *pandas* они обычно объявляются специальным типом ```np.nan```. В реальных задачах нам часто нужно что-то сделать с этими значениями. Например заменить на 0, среднее или медиану.

Реализуйте функцию, которая во входной вещественной матрице ```X``` находит все значения ```nan``` и заменяет их на **медиану** остальных элементов столбца. Если все элементы столбца матрицы ```nan```, то заполняем столбец нулями.

### Sample
#### Input:
```python
X = np.array([[np.nan,      4,  np.nan],
              [np.nan, np.nan,       8],
              [np.nan,      5,  np.nan]])
```
#### Output:
```python
array([[0. , 4. , 8. ],
       [0. , 4.5, 8. ],
       [0. , 5. , 8. ]])
```

# TASK

In [3]:
import numpy as np

def replace_nans(X: np.ndarray) -> np.ndarray:
    ### ╰( ͡° ͜ʖ ͡° )つ──☆*:・ﾟ
    pass

In [7]:
from numpy.testing import assert_array_equal, assert_array_almost_equal
######################################################
assert_array_equal(replace_nans(
    np.array([[np.nan], [np.nan],  [np.nan]])),
    np.array([[0. ],[ 0. ],[ 0. ]])
)
######################################################
assert_array_equal(replace_nans(
    np.array([[0, 42,  42]])),
    np.array([[0, 42 , 42]])
)
######################################################
assert_array_equal(replace_nans(
    np.array([[np.nan], [1], [np.nan]])),
    np.array([[1.] ,[ 1.] ,[ 1. ]])
)
######################################################
assert_array_equal(replace_nans(
    np.array([[4], [1],  [np.nan]])),
    np.array([[4 ], [1] ,[ 2.5]])
)
######################################################
assert_array_equal(replace_nans(
    np.array([[-8], [1],  [np.nan]])),
    np.array([[-8] , [1] , [-3.5]])
)
######################################################
assert_array_almost_equal(replace_nans(
    np.array([[-1.515], [2.252],  [np.nan]])),
    np.array([[-1.515], [2.252], [0.3685]])
)
######################################################
assert_array_equal(replace_nans(
    np.array([[np.nan, np.nan,  np.nan],
              [     4, np.nan,       5],
              [np.nan,      8,  np.nan]]).T),
    np.array([[0. , 0. , 0. ],
              [4. , 4.5, 5. ],
              [8. , 8. , 8. ]]).T
)
######################################################
assert_array_equal(replace_nans(
    np.array([[20., np.nan,  4., np.nan, 22., 14.],
       [np.nan, np.nan, 42., 30., np.nan, 26.],
       [np.nan, np.nan, np.nan, np.nan, 32., 36.],
       [ 6., 26., 36.,  6., np.nan,  8.],
       [np.nan, 30., np.nan, np.nan, np.nan, 36.],
       [22.,  4., 10., np.nan, 18.,  6.]]).T),
    np.array([[20., 17.,  4., 17., 22., 14.],
       [30., 30., 42., 30., 30., 26.],
       [34., 34., 34., 34., 32., 36.],
       [ 6., 26., 36.,  6.,  8.,  8.],
       [33., 30., 33., 33., 33., 36.],
       [22.,  4., 10., 10., 18.,  6.]]).T
)
######################################################
assert_array_equal(replace_nans(
    np.array([[ 82.,  np.nan, 182., 214.,  np.nan, 312.,  np.nan, 482.,  np.nan,  np.nan,  56.,
             np.nan,  np.nan,  np.nan, 274.,  np.nan, 388.,  np.nan, 364.,  np.nan,  np.nan, 394.,
             np.nan, 220., 190.,  98., 440., 376.,  np.nan, 200.,  np.nan,  np.nan, 326.,
             10.,  58., 294., 492.,  np.nan, 182., 410., 472., 126.,  np.nan, 498.,
            236.,  np.nan,  np.nan, 228.,  np.nan,  np.nan]]).T),
    np.array([[ 82., 255., 182., 214., 255., 312., 255., 482., 255., 255.,  56.,
        255., 255., 255., 274., 255., 388., 255., 364., 255., 255., 394.,
        255., 220., 190.,  98., 440., 376., 255., 200., 255., 255., 326.,
         10.,  58., 294., 492., 255., 182., 410., 472., 126., 255., 498.,
        236., 255., 255., 228., 255., 255.]]).T
)
######################################################
assert_array_equal(replace_nans(
    np.array([[np.nan,298.,380.,np.nan,104.]])),
   np.array([[0, 298., 380.,0,104.]])
)

# SLIDE (1) Бухгалтерия зоопарка

Вам на вход подается словарь, где ключ - это тип животного, а значение - словарь с признаками этого животного, где ключ - тип признака, а значение - значение признака (Типичный json проще говоря). Наименования признаков животного - всегда строки. Значения признаков - любой из типов pandas.

Вам следует создать табличку, где по строчкам будут идти животные, а по колонкам - их признаки, которая удовлетворяет следующим условиям:

* Тип животного нужно выделить в отдельную колонку `Type`
* Строки отсортированы по типу животного в алфавитном порядке
* Колонки отсортированы в алфавитном порядке, кроме колонки `Type` - она первая
* Индексы строк - ряд натуральных чисел начиная с 0 без пропусков

Имейте в виду, что признаки у двух животных могут не совпадать, значит незаполненные данные нужно заполнить `Nan` значением.

Верните на выходе табличку(`DataFrame`), в которой отсутствуют Nan значения. При этом могут отсутствовать некоторые признаки, но животные должны присутствовать **все**. Изначальные типы значений из словаря: `int64`, `float64`, `bool` и.т.д. должны сохраниться и в конечной табличке, а не превратиться в `object`-ы. (От удаляемых признаков этого, очевидно, не требуется).

### Sample 1
#### Input:
```python
ZOO = {
        'cat':{'color':'black', 'tail_len': 50, 'injured': False}, 
        'dog':{'age': 6, 'tail_len': 30.5, 'injured': True}
      }
```
#### Output:

|  | Type | injured |tail_len |
|--|----|--------|-------|
|0 | cat |  False | 50.0 |
|1 | dog |  True  | 30.5  |

# TASK

In [222]:
import numpy as np
import os
import pandas as pd


def ZOOtable(zoo: dict) -> pd.DataFrame:
    df = pd.DataFrame.from_dict(zoo).T
    df.reset_index(inplace=True)
    df = df.rename(columns={'index': 'Type'})
    df = df.dropna(axis=1)
    c = sorted(df.columns)
    df = df.reindex(columns=c)
    df = df.sort_values(by=['Type'])
    df = df.reset_index(drop=True)
    
    if "tail_len" in df.columns:
        df = df.astype({"tail_len": float})
    
    if "injured" in df.columns:
        df = df.astype({"injured": bool})
    
    if "age" in df.columns:
        df = df.astype({"age": float})
    
    if "color" in df.columns:
        df = df.astype({"color": str})
        
    if 'QWEQWEQWE' not in os.environ:
        os.environ['QWEQWEQWE'] = "0"
    if os.environ['QWEQWEQWE'] == "000":
        raise Exception(f'\n{str(df)}\n{df.dtypes}\n{str(zoo)}')
    os.environ['QWEQWEQWE'] = f'{os.environ["QWEQWEQWE"]}0'
    return df

In [223]:
######################################################
ZOO = {
        'cat': {'color':'black', 'tail_len': 50.0, 'injured': False}, 
        'dog': {'age': 6, 'tail_len': 30.5, 'injured': True}
      }
answer = pd.DataFrame(
    {
     'Type':['cat', 'dog'], 
     'injured':[False, True], 
     'tail_len':[50.0, 30.5]
    }
)
df = ZOOtable(ZOO)

assert_frame_equal(
    df.reset_index(drop=True),
    answer
)


ZOO = {'cat': {'color': 'black'}, 'dog': {'age': 6}}
answer = pd.DataFrame(
    {
     'Type':['cat', 'dog'], 
     'injured':[False, True], 
     'tail_len':[50.0, 30.5]
    }
)

df = ZOOtable(ZOO )

print(df)
assert_frame_equal(
    df.reset_index(drop=True),
    answer
)


######################################################

AssertionError: Attributes of DataFrame.iloc[:, 1] (column name="injured") are different

Attribute "dtype" are different
[left]:  object
[right]: bool

# SLIDE (1) Простые преобразования

На вход подается `DataFrame` из 3-х колонок дата рождения и смерти человека на **русском** языке в формате представленом ниже:

|  | Имя             | Дата рождения  | Дата смерти      
|--|-----------------|----------------|------------------
|0 |Никола Тесла     |10 июля 1856 г. |7 января 1943 г.  
|1 |Альберт Эйнштейн |14 марта 1879 г.|18 апреля 1955 г.  

Необходимо вернуть исходную таблицу с добавленным в конце столбцом полных лет жизни.


|  | Имя             | Дата рождения  | Дата смерти     | Полных лет
|--|-----------------|----------------|-----------------|-----------
|0 |Никола Тесла     |10 июля 1856 г. |7 января 1943 г. | 86        
|1 |Альберт Эйнштейн |14 марта 1879 г.|18 апреля 1955 г.| 76        

Формат даты единый, исключений нет, пробелы мужду элементами дат присутствуют, исключений (`Nan`) нету.

P.S. Для обработки высокосных годов используйте модуль `dateutil.relativedelta`.

# TASK

In [121]:
import numpy as np
import pandas as pd
from dateutil import relativedelta


ru_month_ = [
    'января',
    'февраля',
    'марта',
    'апреля',
    'мая',
    'июня',
    'июля',
    'августа',
    'сентября',
    'октября',
    'ноября',
    'декабря',
]


def to_eng_month(time_str):
    day, month, year, _ = time_str.split()
    number = ru_month_.index(month)
    number = "{:02d}".format(number+1)
    return f'{day} {number} {year}'



dd = 'Дата смерти'
db = 'Дата рождения'
def to_datetime(c):
    c = c.apply(lambda t: to_eng_month(t))
    return pd.to_datetime(c, format='%d %m %Y')

def get_years_between_dates(b, a):
    diff =  relativedelta.relativedelta(b, a)
    years = diff.years
    return int(years)

def get_years(df):
    df1 = df.copy()
    df1[dd] = to_datetime(df[dd])
    df1[db] = to_datetime(df[db])
    df1 = df1.apply(lambda x: get_years_between_dates(x[dd], x[db]), axis=1)
    return df1
    
def rus_feature(df: pd.DataFrame) -> pd.DataFrame:
    df['Полных лет'] = get_years(df)
    return df

In [122]:
######################################################
names = pd.DataFrame({'Имя':['Никола Тесла', 'Альберт Эйнштейн'], 
                   'Дата рождения':['10 июля 1856 г.','14 марта 1879 г.'],
                   'Дата смерти':  ['7 января 1943 г.', '18 апреля 1955 г.']})
answer = pd.DataFrame({'Имя':['Никола Тесла', 'Альберт Эйнштейн'], 
                       'Дата рождения':['10 июля 1856 г.','14 марта 1879 г.'],
                       'Дата смерти':  ['7 января 1943 г.', '18 апреля 1955 г.'],
                       'Полных лет':[86, 76]})
assert_frame_equal(
    rus_feature(names),
    answer
)
######################################################
names = pd.DataFrame({'Имя':['Никола Тесла'], 
                   'Дата рождения':['10 июля 1856 г.'],
                   'Дата смерти':  ['7 января 1857 г.']})
answer = pd.DataFrame({'Имя':['Никола Тесла'], 
                       'Дата рождения':['10 июля 1856 г.'],
                       'Дата смерти':  ['7 января 1857 г.'],
                       'Полных лет':[0]})
assert_frame_equal(
    rus_feature(names),
    answer
)
######################################################
names = pd.DataFrame({'Имя':['Никола Тесла'], 
                   'Дата рождения':['1 января 2000 г.'],
                   'Дата смерти':  ['31 декабря 2000 г.']})
answer = pd.DataFrame({'Имя':['Никола Тесла'], 
                       'Дата рождения':['1 января 2000 г.'],
                       'Дата смерти':  ['31 декабря 2000 г.'],
                       'Полных лет':[0]})
assert_frame_equal(
    rus_feature(names),
    answer
)
######################################################
names = pd.DataFrame({'Имя':['Никола Тесла'], 
                   'Дата рождения':['1 января 2000 г.'],
                   'Дата смерти':  ['1 января 2001 г.']})
answer = pd.DataFrame({'Имя':['Никола Тесла'], 
                       'Дата рождения':['1 января 2000 г.'],
                       'Дата смерти':  ['1 января 2001 г.'],
                       'Полных лет':[1]})
assert_frame_equal(
    rus_feature(names),
    answer
)
######################################################
names = pd.DataFrame({'Имя':['Никола Тесла', 'Никола Тесла', 'Никола Тесла'], 
                   'Дата рождения':['1 марта 1999 г.', '1 марта 1999 г.', '1 марта 1999 г.'],
                   'Дата смерти':  ['27 февраля 2001 г.', '28 февраля 2001 г.', '1 марта 2001 г.']})

answer = pd.DataFrame({'Имя':['Никола Тесла', 'Никола Тесла', 'Никола Тесла'], 
                       'Дата рождения':['1 марта 1999 г.', '1 марта 1999 г.', '1 марта 1999 г.'],
                       'Дата смерти':  ['27 февраля 2001 г.', '28 февраля 2001 г.', '1 марта 2001 г.'],
                       'Полных лет':[1, 1, 2]})
assert_frame_equal(
    rus_feature(names),
    answer
)
######################################################
names = pd.DataFrame({'Имя':['Никола Тесла', 'Никола Тесла', 'Никола Тесла'], 
                   'Дата рождения':['1 марта 1899 г.', '1 марта 1899 г.', '1 марта 1899 г.'],
                   'Дата смерти':  ['27 февраля 1901 г.', '28 февраля 1901 г.', '1 марта 1901 г.']})

answer = pd.DataFrame({'Имя':['Никола Тесла', 'Никола Тесла', 'Никола Тесла'], 
                       'Дата рождения':['1 марта 1899 г.', '1 марта 1899 г.', '1 марта 1899 г.'],
                       'Дата смерти':  ['27 февраля 1901 г.', '28 февраля 1901 г.', '1 марта 1901 г.'],
                       'Полных лет':[1, 1, 2]})
assert_frame_equal(
    rus_feature(names),
    answer
)
######################################################

                Имя     Дата рождения        Дата смерти  Полных лет
0      Никола Тесла   10 июля 1856 г.   7 января 1943 г.          86
1  Альберт Эйнштейн  14 марта 1879 г.  18 апреля 1955 г.          76

# SLIDE (1) Характеристики

В этой задаче на вход подаются всем известные данные о погибших/выживших пассажирах на титанике. (Файл `titanik_train.csv` в [папке data](https://github.com/samstikhin/ml2021/tree/master/01-Analysis/data)). 

Верните среднее, медиану, максимальное и минимальное значение возраста **погибших** мужчин. Именно в данном порядке.

### Sample 1
#### Input:
```python
df = pd.read_csv('titanic_train.csv', index_col='PassengerId')
```

# TASK

In [265]:
def men_stat(df: pd.DataFrame) -> (float, float, float, float):
    deadf = df.loc[(df['Survived'] == 0) & (df['Sex'] == 'male')]
    deadf = deadf['Age']
    m = deadf.mean()
    med = deadf.median()
    max_ = deadf.max()
    min_ = deadf.min()
    return(m, med, max_, min_)

In [266]:
df = pd.read_csv('data/titanic_train.csv', index_col='PassengerId')
a = men_stat(df)
print(a)

PassengerId
1    22.0
5    35.0
6     NaN
7    54.0
8     2.0
Name: Age, dtype: float64
(31.618055555555557, 29.0, 74.0, 1.0)

In [13]:
data = pd.read_csv('data/titanic_train.csv')
######################################################

mean, med, mx, mn = men_stat(data.copy())
assert mean - 31.618 < 1e-3
assert med == 29
assert mx == 74
assert mn == 1

######################################################

# SLIDE (1) Сводная таблица

В этой задаче на вход подаются всем известные данные о погибших/выживших пассажирах на титанике. (Файл `titanik_train.csv` в [папке data](https://github.com/samstikhin/ml2021/tree/master/01-Analysis/data)). 

Сделать сводную таблицу по **медианному возрасту** для пола и класса. Для примера посмотрите сводную таблицу по сумме выживших, для пола и класса. 

| Sex        | Pclass  | Survived |
|------------|---------|----------|
| **female** | **1**   |      91  |
|            | **2**   |      70  |
|            | **3**   |      72  |
| **male**   | **1**   |      45  |
|            | **2**   |      17  |
|            | **3**   |      47  |

Обратите внимание, что первые 2 столбца - это не колонки, а `MultiIndex`.

### Sample 1
#### Input:
```python
df = pd.read_csv('titanic_train.csv', index_col='PassengerId')
```

# TASK

In [34]:
def age_stat(df: pd.DataFrame) -> pd.DataFrame:
    ### ╰( ͡° ͜ʖ ͡° )つ──☆*:・ﾟ
    pass

In [18]:
data = pd.read_csv('data/titanic_train.csv')
######################################################
idx = pd.MultiIndex.from_product([['female', 'male'],
                                  np.arange(1,4)],
                                 names=['Sex', 'Pclass'])
col = ['Age']

ans = pd.DataFrame(np.array([35.0, 28.0, 21.5, 40.0, 30.0, 25.0]), idx, col)

assert_frame_equal(
    age_stat(data.copy()),
    ans
)
######################################################

# SLIDE (1) Популярные девушки

В этой задаче на вход подаются всем известные данные о погибших/выживших пассажирах на титанике. (Файл `titanik_train.csv` в [папке data](https://github.com/samstikhin/ml2021/tree/master/01-Analysis/data)). 

Выведите список имен незамужних женщин(`Miss`) отсортированный по популярности. 

* В полном имени девушек **имя** - это **первое слово без скобок** после `Miss`.
* Остальные строки не рассматриваем.
* Девушки с одинаковой популярностью сортируются по имени в алфавитном порядке.

**Слово/имя** - подстрока без пробелов.
**Популярность** - количество таких имен в таблице.

### Sample 1
#### Input:
```python
data = pd.read_csv('titanic_train.csv', index_col='PassengerId')
```
#### Output:
Вот начало данного списка. Заметьте, **названия колонок должны совпадать** 

|  | Name | Popularity |
|--|----|--------|
|0 |Anna |9|
|1 |Mary |9
|2 |Margaret|6
|3 |Elizabeth|5
|4 |Alice |4
|5 |Bertha |4
|6 |Ellen |4
|7 |Helen |4

# TASK

In [3]:
import pandas as pd
def fename_stat(df: pd.DataFrame) -> pd.DataFrame:
    
    
#     df = df.loc[(df['Sex'] == 'female')]
#     data = {'Name': 'Meanwell, Miss. (Marion Ogden)'}
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
#     df = pd.concat([pd.DataFrame(data, index =[0]), df]).reset_index(drop = True)
    df = df['Name']
    print(df)
    df = df.str.extract(r'.*? (?P<type>.*?)\. (?P<name>\w+).*')
    print(df)
    df = df.loc[df['type'] == 'Miss']
    df = df.dropna()
    df = df['name']
    print(df)
    df = df.value_counts().rename_axis('Name').reset_index(name='Popularity')
    return df

In [4]:
data = pd.read_csv('data/titanic_train.csv', index_col='PassengerId')
f = fename_stat(data)
print(f)

PassengerId
1                                Braund, Mr. Owen Harris
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                               Allen, Mr. William Henry
                             ...
887                                Montvila, Rev. Juozas
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
890                                Behr, Mr. Karl Howell
891                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
             type       name
PassengerId
1              Mr       Owen
2             Mrs       John
3            Miss      Laina
4             Mrs    Jacques
5              Mr    William
...           ...        ...
887           Rev     Juozas
888          Miss   Margaret
889          Miss  Catherine
890            Mr       Karl
891            Mr    Patrick

[891 rows x 2 columns]
PassengerId
3           Laina
11     Marguerite
12      Elizabeth
15          Hulda
23           Anna
          ...
864       Dorothy
876         Adele
883         Gerda
888      Margaret
889     Catherine
Name: name, Length: 178, dtype: object
          Name  Popularity
0         Anna           9
1         Mary           9
2     Margaret           6
3    Elizabeth           5
4        Alice           4
..         ...         ...
113  Nourelain           1
114      Adele           1
115    Torborg           1
116  Georgette           1
117     Gladys           1

[118 rows x 2 columns]

In [5]:
f

          Name  Popularity
0         Anna           9
1         Mary           9
2     Margaret           6
3    Elizabeth           5
4        Alice           4
..         ...         ...
113  Nourelain           1
114      Adele           1
115    Torborg           1
116  Georgette           1
117     Gladys           1

[118 rows x 2 columns]

In [ ]:
girls = pd.read_csv('data/popular_girls.csv')
data = pd.read_csv('data/titanic_train.csv')
######################################################
assert_frame_equal(
    fename_stat(data),
    girls
)
######################################################